{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Modfier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    <hr>
    {% if notification  %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}

{% endblock %}