{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block menu %}{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="container-account">

    <img class="icon-picture" src="/images/account.png" width="50px "alt="icon-account">
    <h1 class="title-account">  &ensp;Merci de vous connecter</h1>
    
    <label for="inputEmail">E-mail : </label>
    <input class="login-input" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre email" required autofocus>
    
    <label for="inputPassword">Mot de passe : </label>
    <input class="login-input" type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required>
    
    <button class="submit-register" type="submit">Se connecter</button>
    
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

</form>
</div>
{% endblock %}
