{% extends 'base.html.twig' %}

{% block body %}
<style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 100%;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
    const mapStyle = [
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  }
]
      // Initialize and add the map
      function initMap() {
        // The location of France
        const France = { lat: 46.603354, lng: 1.8883335 };
        // The map, centered at France
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 7,
          center: France,
          styles : mapStyle
        });
        // The marker, positioned at France
        const marker = new google.maps.Marker({
          position: France,
          map: map,
        });
      }
    </script>
    <!--The div element for the map -->
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaDMArsrPQPVkR8RovrZiaFyYvKDCGtd4&callback=initMap&libraries=&v=weekly"
      async
    ></script>
{% endblock %}

