{% extends 'base.html.twig' %}

{% block body %}

      <main class="wrapper">

              <!--Block search menu left responsive-->
              <button id="hamburger-button">&#9776;</button>
                <div id="hamburger-sidebar">
                  <div id="hamburger-sidebar-header"></div>
                  <div id="hamburger-sidebar-body"></div>
                </div>
                <div id="hamburger-overlay"></div>


                <!--Block search menu left-->
        <aside id="menu-search">
          <form action="POST">
              <label for="town" class="search-town">Quelle ville ?</label>
              <input type="text" name="town" id="town" placeholder="Code postal / Ville"/>
          </form>

        <ul class="menu-search-list">Quel commerce ?
            <li class="menu-search-item">
              <a href="#" class="menu-search-link"><img src="https://img.icons8.com/windows/32/000000/bread.png" alt="shop-icon"/>&ensp; boulangerie</a>
            </li>
            <li class="menu-search-item">
              <a href="#" class="menu-search-link"><img src="https://img.icons8.com/windows/32/000000/year-of-pig.png" alt="shop-icon"/>&ensp; boucherie / charcuterie</a>
            </li>
            <li class="menu-search-item">
              <a href="#" class="menu-search-link"><img src="https://img.icons8.com/ios-filled/50/000000/smoking.png" width="30px" alt="shop-icon"/>&ensp; bureau / tabac</a>
            </li>
            <li class="menu-search-item">
              <a href="#" class="menu-search-link"><img src="https://img.icons8.com/windows/32/000000/barbershop.png" alt="shop-icon"/>&ensp; coiffeur</a>
            </li>
            <li class="menu-search-item">
              <a href="#" class="menu-search-link"><img src="https://img.icons8.com/windows/32/000000/shopping-basket.png" alt="shop-icon"/>&ensp; épicerie</a>
            </li>
            <li class="menu-search-item">
              <a href="#" class="menu-search-link"><img src="https://img.icons8.com/windows/32/000000/food-and-wine.png" alt="shop-icon"/>&ensp; fromagerie</a>
            </li>
            <li class="menu-search-item">
              <a href="#" class="menu-search-link"><img src="https://img.icons8.com/windows/32/000000/books--v1.png" alt="shop-icon"/>&ensp; librairie</a>
            </li>
            <li class="menu-search-item">
              <a href="#" class="menu-search-link"><img src="https://img.icons8.com/ios-filled/50/000000/pharmacy-shop.png" width="30px" alt="shop-icon"/>&ensp; pharmacie</a>
            </li>
            <li class="menu-search-item">
              <a href="#" class="menu-search-link"><img src="images/newspaper.png" alt="shop-icon"/>&ensp; presse</a>
            </li>
        </ul>

        <ul class="menu-search-list">Service commercial
          <li class="menu-search-item">
            <a href="#" class="menu-search-link"><img src="https://img.icons8.com/windows/32/000000/deliver-food.png"/>&ensp; livraison à domicile</a>
          </li>
          <li class="menu-search-item">
            <a href="#" class="menu-search-link"><img src="images/click-and-collect.png" alt="commercial-icon"/>&ensp; click and collect</a>
          </li>
          <li class="menu-search-item">
            <a href="#" class="menu-search-link"><img src="images/phenix.png" alt="commercial-icon"/>&ensp; phenix</a>
          </li>
          <li class="menu-search-item">
            <a href="#" class="menu-search-link"><img src="images/mondial-relais.png" alt="commercial-icon"/>&ensp; mondial relais </a>
          </li>
          <li class="menu-search-item">
            <a href="#" class="menu-search-link"><img src="images/relais-colis.png" alt="commercial-icon"/>&ensp; relais colis</a>
          </li>
          <li class="menu-search-item">
            <a href="#" class="menu-search-link"><img src="images/tgtg.png" alt="commercial-icon"/>&ensp; too good to go</a>
          </li>
      </ul>
      </aside>
    </main>


{% endblock %}

