{% extends 'base.html.twig' %}
{% block title %}Mentions légales - J'Trouve mon commerçant{% endblock %}
{% block menu %}{% endblock %}
{% block body %}

    <div id="legals">
        <h2 class="title-mention">mentions légales</h2>
            
        <h3 class="subtitle">éditeur du site internet </h3>
        <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque repudiandae earum perferendis porro fuga harum ut expedita aut tempora natus deserunt inventore facilis obcaecati eum asperiores, omnis perspiciatis. Itaque voluptatem voluptas quos numquam modi, sunt, consectetur dolorem dolores porro excepturi velit similique! Temporibus inventore doloremque hic laborum error expedita! Ducimus nesciunt quia porro labore, voluptatibus delectus deleniti! Reprehenderit, totam ab reiciendis quibusdam sapiente obcaecati expedita atque laborum doloribus architecto in veniam laudantium dolore vitae harum tempore provident praesentium maiores recusandae rem nobis doloremque. Ea harum perferendis, earum cupiditate itaque deserunt animi laborum consectetur nobis dolor reiciendis consequuntur. Provident, unde!</p>
            
        <h3 class="subtitle">données personnelles</h3>
        <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque repudiandae earum perferendis porro fuga harum ut expedita aut tempora natus deserunt inventore facilis obcaecati eum asperiores, omnis perspiciatis. Itaque voluptatem voluptas quos numquam modi, sunt, consectetur dolorem dolores porro excepturi velit similique! Temporibus inventore doloremque hic laborum error expedita! Ducimus nesciunt quia porro labore, voluptatibus delectus deleniti! Reprehenderit, totam ab reiciendis quibusdam sapiente obcaecati expedita atque laborum doloribus architecto in veniam laudantium dolore vitae harum tempore provident praesentium maiores recusandae rem nobis doloremque. </p>
            
        <h3 class="subtitle">conditions générales d'utilisation</h3>
        <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque repudiandae earum perferendis porro fuga harum ut expedita aut tempora natus deserunt inventore facilis obcaecati eum asperiores, omnis perspiciatis.</p>
    </div>
    
{% endblock %}