{% extends 'base.html.twig' %}
{% block title %}Team JTMC{% endblock %}
{% block menu %}{% endblock %}
{% block body %}


                            <div class="container-picture">
                                <div class="guy"></div>
                                <div class="ben"></div>
                                <div class="tayeb"></div>
                                <div class="laura"></div>
                            </div>


{% endblock %}