{% extends 'base.html.twig' %}
{% block title %}Team JTMC{% endblock %}
{% block menu %}{% endblock %}
{% block body %}


<div class="main-picture">
    <div class="laura">
        <h1>Laura</h1>
        <img src="/images/team/laura.jpg" width="200px" height="260px" alt="image-laura">
    </div>
    <div class="ben">
        <h1>Benjamin</h1>
        <img src="/images/team/ben.jpg" width="200px" height="260px" alt="image-ben">
    </div>
    <div class="tayeb">
        <h1>Tayeb</h1>
        <img src="/images/team/tayeb.jpg" width="200px" height="260px" alt="image-tayeb">
    </div>
    <div class="guy">
        <h1>Guy</h1>  
        <img src="/images/team/guy.jpg" width="200px" height="260px" alt="image-guy">
    </div>
</div>


{% endblock %}

