{% extends 'base.html.twig' %}
{% block title %}Team JTMC{% endblock %}
{% block menu %}{% endblock %}
{% block body %}



    <img class="icon-picture-admin" src="/images/admin.png" width="40px " alt="icon-admin">
    <h1 class="title-team">la team JTMC full symfony</h1>

    <div class="hover01 team">
        <div class="actors-team">
            <h3 class="name">benjamin</h3>
            <figure><img class="picture-ben" src="/images/team/ben.jpg" width="150px" height="200px" alt="picture-ben"></figure>
            <h2 class="role ben scrum"><strong>scrum master <br> dev back</strong></h2>
        </div>

        <div class="actors-team">
            <h3 class="name">guy</h3>  
            <figure><img class="picture-guy" src="/images/team/guy.jpg" width="150px" height="200px" alt="picture-guy"></figure>
            <h2 class="role guy git"><strong>git master <br> dev back</strong></h2>
        </div>

        <div class="actors-team">
            <h3 class="name">laura</h3>
            <figure><img class="picture-laura" src="/images/team/laura.jpg" width="150px" height="200px" alt="picture-laura"></figure>
            <h2 class="role laura owner"><strong>product owner <br> lead dev front</strong></h2>
        </div>

        <div class="actors-team">
            <h3 class="name">tayeb</h3>
            <figure><img class="picture-tayeb" src="/images/team/tayeb.jpg" width="150px" height="200px"  alt="picture-tayeb"></figure>
            <h2 class="role tayeb lead"><strong>lead dev back</strong></h2>
        </div>
            
    </div>


{% endblock %}

