body 
{
    color: #fff;
    background-color: #2c3e50;
}
/* ----- Top navigation ----- */

.logo
{
    width: 15%;
    display: flex;
    padding: 15px 35px;
}

.logo-mobile
{
    display: none;
}

.title,
.header-nav-top-link,
.menu-search-link
{
    text-transform: capitalize;
}

.title
{
    margin: 2%;
    font-weight: 700;
    color: #20bf6b;
}

.title-link
{
    text-decoration: none;
}

.header-nav-top
{
    display: flex;
}

.header-nav
{
    display: flex;
    height: 150px;
    background: #2c3e50;
}

.slogan
{
    text-align: center;
}

.slogan-nav
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title,
.slogan,
.header-nav-top
{
    align-self: center;
}

.header-nav-top-list
{
    display: flex;
    align-items: center;
}

.header-nav-top-item
{
    margin: 15px; 
}

.header-nav-top-link,
.link-account
{
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
}

a.active, .header-nav-top-link:hover
{
    transition: .3s;
    background: #20bf6b;
}

a.link-account:hover
{

    background: #20bf6b;
}

.slogan,
.header-nav-top-link 
{
font-size: 0.9em;
padding-bottom: 3px;
text-decoration: none;
}

/* ----- Responsive button -----*/

.toggle_btn
{
    top: 50px;
    padding: 0.4%;
    z-index: 10;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #20bf6b;
    line-height: 47px;
    background-color: #2c3e50
}

.toggle_btn span:after
{   
    left: 0;
    top: 10px;
    content:'';
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #20bf6b;
}

.nav
{
    margin-left: 0px;
    transition-duration: 0.5s;
}

.nav_open
{
    margin-left: -250px;
    transition-duration: 0.5s;
}

/* ----- Left search -----*/

.submit
{
    left: 50px;
    border: 0;
    padding-right: 1%;
    cursor: pointer;
    color: #20bf6b;
    background: none;
    font-size: 1em;
}

.menu
{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.search-city,.menu-search-list
{
    color: #20bf6b;
    font-size: 0.9em;
}

.menu-search-list
{
    padding: 3%;
    color: #20bf6b;
    border-top: 1px solid white;
}

.menu-search-item
{   
    width: 100vh;
    padding: 0.5%;
    
}

.menu-search-link
{
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}


input
{
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid black;
}

.wrapper
{
    height: 650px;
    display: flex;
    flex-direction: row;
}


/* ----- Mentions legals -----*/

.space
{
    width: 5%;
}

.title-mention
{
    font-size: 1.8em;
    color: #20bf6b;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

#legals,
#login-logout
{
    margin: auto;
    width: 900px;
    height: 370px;
    display: flex;
    padding: 5%;
    color: white;
    text-align: justify;
    flex-direction: column;
}

.subtitle
{
    font-size: 0.9em;
    padding: 1% 0 0 1%;
    font-weight: 700;
    text-transform: capitalize;
}

.lorem
{
    padding: 1%;
    font-size: 0.8em;
}

#login
{
    width: 100%;
}



/* ----- Stores informations -----*/

.container-store
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container-picture
{
    box-shadow: 0px 0px 4px #1c1a19;
}

.container-store,
.store-information
{
    height: 655px
}

.adress-store-email,
.store-information,
.subtitle-store,
.adress-store
{
    color: white;
}


.store-information
{
    width: 30%;
    padding: 0 2%;
    text-align: justify;
}

.title-store,
.list-title
{
    margin: 25px 0;
    color: #4cd137;
    font-size: 1.9em;
    font-weight: 700;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
}

.subtitle-store
{
    padding: 1% 0;
    font-weight: 700;
    text-align: justify;
}

.adress-store,
.mode-payment,
.days-hours,
.service
{
    padding: 0.4em 0;
    font-size: 0.8em;
}

.opening,
.information-payment,
.commercial-service
{
    margin: 2% 0;
}

.adress-store-email
{
    padding: 0.4em 0;
    font-size: 0.8em;
}

.description
{
    padding: 0.5em;
}

tr
{
    font-size: 0.8em;
}

/* ----- Acccount -----*/

.container-account
{
    margin-top: 3%;
    text-align: center;
}

.title-account
{
    color: #20bf6b;
    font-size: 1.9em;
    font-weight: 700;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.user-account
{
    color: white;
    font-weight: bolder;
}

.link-account
{
    color: white;

    border-radius: 3px;
    text-decoration: none;
}

a.link-account:hover
{
    background: #20bf6b;
}

.paraph-account
{
    padding: 1%;
    font-size: 1.1em;
}

.container-card
{
    display: flex;
    margin: 35px;
    justify-content: center;
}

.card
{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #1c1a19;
    box-shadow: 0px 0px 4px #1c1a19;
}

.card-content
{
    margin: 5px;
    padding: 5px;
}

.card-text
{
    font-size: 1em;
}

.card-title
{
    font-size: 1.1em;
    color: #4cd137;
    font-weight: bolder;
}


.card-link-account
{

    color: white;
    font-size: 0.9em;
    text-decoration: none;
}

a.card-link-account:hover
{
    color: #20bf6b;
}

.nav-account-link
{
    font-size: 0.8em;
    color: white;
    margin-left: 30px;
    text-decoration: none;
}

a.nav-account-link:hover
{
    color: #20bf6b;
}

/* ----- footer link -----*/

.footer-nav
{
    width: 100%;
    height: 100px;
    padding-top: 1%;
    text-align: center;
    background-color: #2c3e50;
}

.footer-nav-link
{
    font-size: 0.9em;
    color: white;
    padding-right: 15px;
    text-decoration: none;
}

a.footer-nav-link:hover
{
    color: #20bf6b;
}

a.menu-search-link:hover
{
    color: #20bf6b;
}

.footer-nav-made
{   
    font-size: 0.7em;
    padding-top: 0.5%;
}

/* ----- Common navigation -----*/

.button-back
{
    top: 630px;
    right: 525px;
    color: white;
    position: relative;
    text-decoration: none;
}

.button-display
{
    color: white;
    position: relative;
    text-decoration: none;
}

a.button-back:hover
{
    color: #20bf6b;
}

a.button-display:hover
{
    color: #20bf6b;
}

td
{
    border-bottom: 5px solid white;
}

.list-title
{
    padding: 0 1%;
}

.head
{
    margin: 10.5%;
    font-size: 0.9em;
}

.list-head,
.head-content
{
    padding: 1%;
}

.head-content
{
    font-size: 0.8em;
    text-align: center;
}

.list-picture
{
    border-radius: 15px;
    box-shadow: 0px 0px 4px #1c1a19;
}

/* ----- Map -----*/

#map
{
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px #1c1a19;
}

.popup-title
{
    color:#2c3e50;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.popup-link
{
    color: black;
    text-decoration: none;

}


/* ----- @media queries -----*/

@media (max-width: 1200px)
{
    .slogan-nav
    {
        justify-content: center;
        flex-direction:column-reverse;
    }
    .logo-web
    {
        display: none;
    }
    .logo-mobile
    {
        margin-top: 2%;
        display: block;
    }

}

@media (max-width:1100px)
{
    .title-store
    {
        font-size: 1.6em;
    }
}

@media (max-width:900px)
{
    .slogan
    {
        display: none;
    }
    .header-nav-top-list
    {
        flex-direction: column;
    }
    .header-nav-top-item
    {
        margin: 8px;
    }

    .nav
    {
        transform: translateX(-100%);
        transition-duration: 0.5s;
    }
    
    .nav_open
    {
        transform: translateX(0);
        transition-duration: 0.5s;
    }
}

@media (max-width:800px)
{
    .title-mention
    {
        font-size: 1.2em;
    }
    .legals
    {
        overflow: auto;
        margin-left: 1%;
    }
}

@media (max-width:600px)
{

}


