body {
    color: #fff;
    background-color: #2c3e50;
}

<<<<<<< HEAD
=======
.wrapper {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
}
>>>>>>> 2d62fbf65546f52c2f4c4b9520886ec9a67edbe7

/* --------------- Haeder navigation ---------------*/

.logo {
    width: 15%;
    display: flex;
    padding: 15px 35px;
}

.logo-mobile {
    display: none;
}

.title,
.header-nav-top-link,
.menu-search-link {
    text-transform: capitalize;
}

.title {
    margin: 2%;
    font-weight: 700;
    color: #20bf6b;
}

.title-link {
    text-decoration: none;
}

.header-nav-top {
    display: flex;
}

.header-nav {
    display: flex;
    height: 150px;
    background: #2c3e50;
}

.slogan {
    text-align: center;
}

.slogan-nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title,
.slogan,
.header-nav-top {
    align-self: center;
}

.header-nav-top-list {
    display: flex;
    align-items: center;
}

.header-nav-top-item {
    margin: 15px;
}

.header-nav-top-link,
.link-account {
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
}

a.active,
.header-nav-top-link:hover {
    transition: .3s;
    background: #20bf6b;
}

<<<<<<< HEAD
a.link-account:hover {
=======
a.link-account:hover 
{

>>>>>>> 2d62fbf65546f52c2f4c4b9520886ec9a67edbe7
    background: #20bf6b;
}

.slogan,
.header-nav-top-link {
    font-size: 0.9em;
    padding-bottom: 3px;
    text-decoration: none;
}


/* --------------- Button responsive ---------------*/

.toggle_btn {
    top: 70px;
    z-index: 10;
    border: none;
    padding: 1.5%;
    cursor: pointer;
    font-size: 35px;
    color: #20bf6b;
    line-height: 47px;
    background-color: #2c3e50;
}

.toggle_btn span:after {
    left: 0;
    top: 10px;
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #20bf6b;
}

.nav {
    margin-left: -250px;
    transition-duration: 0.5s;
}

.nav_open {
    margin-left: 0;
    transition-duration: 0.5s;
}


/* --------------- Left menu ---------------*/

.submit {
    border: 0;
    left: 50px;
    font-size: 1em;
    cursor: pointer;
    color: #20bf6b;
    background: none;
    padding-right: 1%;
}

.menu {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.search-city,
.menu-search-list {
    color: #20bf6b;
    font-size: 1em;
}

.menu-search-list {
    padding: 5% 0;
    color: #20bf6b;
    border-top: 1px solid white;
}

.menu-search-item {
    width: 100vh;
    padding: 2% 0%;
}

.menu-search-link {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}

input {
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid black;
}


/* --------------- Legals mentions ---------------*/

.space {
    width: 5%;
}

.title-mention {
    font-size: 1.8em;
    color: #20bf6b;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

#legals,
#login-logout {
    margin: auto;
    width: 900px;
    height: 370px;
    display: flex;
    padding: 5%;
    color: white;
    text-align: justify;
    flex-direction: column;
}

.subtitle {
    font-size: 0.9em;
    padding: 1% 0 0 1%;
    font-weight: 700;
    text-transform: capitalize;
}

.lorem {
    padding: 1%;
    font-size: 0.8em;
}

#login {
    width: 100%;
}


/* --------------- Store _ Acccount---------------*/

.container-store {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: flex-end;
}

.container-picture {
    box-shadow: 0px 0px 4px #1c1a19;
}

.container-store,
.store-information {
    height: 655px
}

.container-register-store-head {
    text-align: center;
}

.container-register-store {
    margin-top: 1%;
    margin-left: 5%;
}

.container-account {
    height: 100vh;
    margin-top: 5%;
    text-align: center;
}

.container-account-login {
    height: 100vh;
    margin-top: 4%;
    text-align: center;
}

.adress-store-email,
.store-information,
.subtitle-store,
.adress-store {
    color: white;
}

.subtitle-store {
    text-transform: capitalize;
}

.store-information {
    width: 30%;
    padding: 0 2%;
    text-align: justify;
}

.title-store,
.list-title {
    margin: 25px 0;
    color: #4cd137;
    font-size: 1.9em;
    font-weight: 700;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
}

.subtitle-store {
    padding: 1% 0;
    font-weight: 700;
    text-align: justify;
}

.adress-store,
.mode-payment,
.days-hours,
.service {
    padding: 0.4em 0;
    font-size: 0.8em;
}

.opening,
.information-payment,
.commercial-service {
    margin: 2% 0;
}

.adress-store-email {
    padding: 0.4em 0;
    font-size: 0.8em;
}

.description {
    padding: 0.5em;
}

.register-store-paraph {
    padding: 1%;
    font-size: 1.1em;
}

.title-register-store {
    color: #20bf6b;
    font-size: 1.9em;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.content-one,
.content-two,
.content-three {
    display: flex;
    justify-content: center;
}

.form-register-store-content-one,
.form-register-store-content-two {
    width: 31%;
    margin: 1%;
}

.form-register-store-content {
    width: 31%;
    margin: 2%;
    display: flex;
}

.foo-form-bold,
.foo-form {
    font-weight: bold;
}

.foo_widget {
    padding: 2%;
}

.foo_description {
    width: 300px;
    height: 50px;
}

.form-error {
    color: #ff0000;
}

.foo-form {
    color: #4cd137;
}

.submit-register {
    height: 35px;
    border: 0;
    padding: 0.5%;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
    background-color: #20bf6b;
}

.title-account {
    color: #20bf6b;
    font-size: 1.9em;
    font-weight: 700;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.user-account {
    color: white;
    font-weight: bolder;
    text-transform: capitalize;
}

.link-account {
    color: white;
    border-radius: 3px;
    text-decoration: none;
}

a.link-account:hover {
    background: #20bf6b;
}

.paraph-account {
    padding: 1%;
    font-size: 1.1em;
}

.container-card {
    display: flex;
    margin: 35px;
    justify-content: center;
}

.card {
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #1c1a19;
    box-shadow: 0px 0px 4px #1c1a19;
}

.card-content {
    margin: 5px;
    padding: 5px;
}

.card-text {
    font-size: 1em;
}

.card-title {
    font-size: 1.1em;
    color: #4cd137;
    font-weight: bolder;
}

.card-link-account {
    color: #fff;
    font-size: 0.9em;
    text-decoration: none;
}

a.card-link-account:hover {
    color: #20bf6b;
}

.nav-account-link {
    font-size: 1.5em;
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
}

a.nav-account-link:hover {
    color: #20bf6b;
}

.nav-account-here {
    font-weight: bold;
    color: #20bf6b;
    text-decoration: none;
}

a.nav-account-here:hover {
    color: #fff;
}

input {
    padding: 3% 0%;
}

.submit-log {
    left: 50px;
    border: 0;
    cursor: pointer;
    color: #20bf6b;
    background: none;
    font-size: 1.1em;
    padding-right: 1%;
}

.password {
    margin-top: 1%;
}

.alert {
    color: #00a8ff;
    margin-top: 1%;
}

.display-account-store-picture {
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;
}

.login-picture {
    text-align: center;
}

.login-input {
    padding: 0.8%;
}


/* --------------- Footer ---------------*/

.footer-nav {
    width: 100%;
    height: 60px;
    padding-top: 1%;
    text-align: center;
    background-color: #2c3e50;
}

.footer-nav-link {
    font-size: 0.9em;
    color: white;
    padding-right: 15px;
    text-decoration: none;
}

a.footer-nav-link:hover {
    color: #20bf6b;
}

a.menu-search-link:hover {
    color: #20bf6b;
}

.footer-nav-made {
    font-size: 0.7em;
    padding-top: 0.5%;
}


/* --------------- Map ---------------*/

#map {
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px #1c1a19;
}

.popup-title {
    color: #2c3e50;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.popup-picture {
    text-align: center;
}

.popup-link {
    text-align: center;
    color: black;
    text-decoration: none;
}


/* --------------- Nav common ---------------*/

.button-back {
    top: 630px;
    right: 525px;
    color: white;
    position: relative;
    text-decoration: none;
}

.button-display {
    color: white;
    position: relative;
    text-decoration: none;
}

a.button-back:hover {
    color: #20bf6b;
}

a.button-display:hover {
    color: #20bf6b;
}

td {
    border-bottom: 5px solid white;
}

.list-title {
    padding: 0 1%;
}

.head {
    margin: 10.5%;
    font-size: 0.9em;
}

.list-head,
.head-content {
    padding: 1%;
}

.head-content {
    font-size: 0.8em;
    text-align: center;
}

.list-picture {
    border-radius: 15px;
    box-shadow: 0px 0px 4px #1c1a19;
}


/* --------------- @media queries ---------------*/

@media only screen and (max-width: 1024px) {
    body {
        width: 812px;
        margin: auto;
    }
    .header-nav-top-link,
    .logo-web,
    .title {
        display: none;
    }
    .slogan-nav {
        width: 55%;
        flex-direction: column-reverse;
    }
    .slogan {
        font-size: 0.8em;
        text-align: center;
    }
    .logo-mobile {
        display: block;
    }
    .header-nav {
        background: none;
    }
    .header-nav-top-item {
        padding: 0;
        margin: 10px;
    }
    .menu {
        margin: 0;
        padding: 0;
    }
    .nav {
        margin-left: -250px;
        transition-duration: 0.5s;
    }
    .nav_open {
        margin-left: 0;
        transition-duration: 0.5s;
    }
    .menu-search-list,
    .menu-search-item {
        padding: 2.5% 0;
    }
}



@media only screen and (max-width: 480px) {
<<<<<<< HEAD
    #map {
        width: 80%;
=======
    #map
    {
        width: 90%;
>>>>>>> 2d62fbf65546f52c2f4c4b9520886ec9a67edbe7
    }
    body {
        width: 480px;
    }
    .header-nav-top-link,
    .logo-web,
    .title {
        display: none;
    }
    .slogan-nav {
        width: 55%;
        flex-direction: column-reverse;
    }
    .slogan {
        font-size: 0.8em;
        text-align: center;
    }
    .logo-mobile {
        display: block;
    }
    .header-nav {
        background: none;
    }
    .header-nav-top-item {
        padding: 0;
        margin: 10px;
    }
    .menu {
        margin: 0;
        padding: 0;
    }
    .nav {
        margin-left: -250px;
        transition-duration: 0.5s;
    }
    .nav_open {
        margin-left: 0;
        transition-duration: 0.5s;
    }
    .menu-search-list,
    .menu-search-item {
        padding: 1.3% 0;
    }
<<<<<<< HEAD
    .menu-search-list {
        font-size: 0.9em;
=======

    .menu-search-list
    {
        font-size: 0.8em;
>>>>>>> 2d62fbf65546f52c2f4c4b9520886ec9a67edbe7
    }
    .footer-nav {
        padding: 0;
        margin: 0;
        bottom: 0;
        width: initial;
        position: relative;
    }
<<<<<<< HEAD
    .container-account,
    .container-register-store,
    .container-account-login {
        border-radius: 5px;
=======

    .container-register-store
    {
>>>>>>> 2d62fbf65546f52c2f4c4b9520886ec9a67edbe7
        height: 60vh;
        width: 325px;
        margin-top: 10%;
        text-align: center;
        border-radius: 5px;
        flex-direction: column;
        border: 2px solid #4cd137;
        justify-content: flex-start;
    }
<<<<<<< HEAD
    .icon-picture {
=======

    .container-account,
    .container-account-login 
    {
        text-align: center;
    }

    .required
    {
        top: 20px;
        display: flex;
        position: relative;
        left:150px;
    }

    .form-control
    {
        top: 20px;
        left: 150px;
        display: flex;
>>>>>>> 2d62fbf65546f52c2f4c4b9520886ec9a67edbe7
        position: relative;
    }
<<<<<<< HEAD
    .icon-picture-welcome {
=======

    .btn-primary
    {
        top: 40px;
        left: 210px;
        display: flex;
>>>>>>> 2d62fbf65546f52c2f4c4b9520886ec9a67edbe7
        position: relative;
    }
<<<<<<< HEAD
    .icon-picture-register {
=======


    .icon-picture-welcome 
    {
        position: relative;
>>>>>>> 2d62fbf65546f52c2f4c4b9520886ec9a67edbe7
        margin-left: 120px;
    }
    .title-register-store,
    .title-account {
        margin: 5% 0;
        font-weight: normal;
    }
    .login-input {
        padding: 2%;
        width: 150px;
        margin: 4% 30%;
    }
    .submit-register {
        width: 100px;
        margin-bottom: 5%;
        position: relative;
        margin-left: 125px;
    }
    .register-store-paraph,
    .paraph-account {
        font-size: 0.9em;
        margin-bottom: 5%;
    }
    .container-account-login {
        display: inherit;
    }
}