{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Admin Dashboard' %}

{% block page_content %}
    <div class="container">
        <p>Bienvenue sur l'interface administrateur!</p>
    </div>
{% endblock %}