<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/style-theme.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}" />
    {% endblock %}    
    
    <title>{% block title %}J'trouve Mon Commerçant{% endblock %}</title>
    
    {% block javascripts %}  
    <!-- App JS -->  
    <script src="js/app_responsive.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    {% endblock %}

</head>
    <body>
 <header class="header-nav">
    <!--Block logo-->
    <div class="logo">
       <!--Logo for the sreen desktop-->
      <a href="index_test_home.html" class="logo-link">
      <img class="logo-web" src="images/logo_jtmc_v2.png" alt="logo_jtmc">
      <!--Small logo for the sreen mobile-->
      <img class="logo-mobile" src="images/logo_jtmc_small_v2.png" alt="logo_jtmc">
      </a>
      <a class ="title-link" href="index_test_home.html"><h1 class="title">j'trouve mon commerçant</h1></a>
    </div>

    <div class="slogan-nav">
     <!--Block slogan-->
     <p class="slogan">Service de géolocalisation pour retrouver en quelques cliques votre commerce local !</p>
     
     <!--Block navigation-->
    <nav class="header-nav-top">
      <ul class="header-nav-top-list">
        <li class="header-nav-top-item">
          <a class="active header-nav-top-link" href="index_test_home.html" >accueil</a>
        </li>
        <li class="header-nav-top-item">
          <a class="header-nav-top-link" href="#" >ville</a>
        </li>
        <li class="header-nav-top-item">
          <a class="header-nav-top-link" href="#">connection</a>
      </li>
      <li class="header-nav-top-item">
        <a class="header-nav-top-link" href="#">inscription</a>
      </li>
      </ul>
    </nav> 
    </div>
  </header>

      <footer class="footer-nav-bottom">
        <a class="footer-nav-bottom-link" href="#">Mentions légales</a>
        <a class="footer-nav-bottom-link" href="#">Contactez-nous</a>
    </footer>
    </body>
</html>
