{% extends 'base.html.twig' %}

{% block title %}Modifier le commerce{% endblock %}

{% block body %}
    <h2>Modifier le commerce {{store.name}}</h2>

    {{ include('store/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('store_index') }}">Retour à la liste</a>

    {{ include('store/delete.html.twig') }}
{% endblock %}

