{% extends 'base.html.twig' %}

{% block title %}Ajouter un commerce{% endblock %}

{% block body %}
    <h1>Crée un commerce</h1>

    {{ include('store/form.html.twig') }}

    <a href="{{ path('home') }}">Retour à la page d'accueil</a>
{% endblock %}