{% extends 'base.html.twig' %}

{% block title %}Modifier payement{% endblock %}

{% block body %}
    <h1>Modifier une information de payement</h1>

    {{ include('payment/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('payment_index') }}" class="btn btn-primary">Retour à la liste</a>

    {{ include('payment/delete.html.twig') }}
{% endblock %}